<b>Сводка новостей за {{duration_hours}} часов:</b>
{% for topic in topics %}
{{topic.emojis}} <b>{{topic.name}}</b>
{%- for title in topic["titles"] %}
- {{title}}{% endfor %}
{% endfor %}
Канал с сводками: <a href="https://t.me/nyannews_summary">@nyannews_summary</a>

<blockquote expandable>Сводка подготовлена редакцией канала на основе открытых публикаций за период с {{start_dt}} по {{end_dt}}.
По каждому пункту указан первоисточник.
Сводка содержит краткие редакционные аннотации и/или цитаты в объеме, необходимом для информационного обзора.
Права на оригинальные тексты, фото, видео и графику принадлежат соответствующим правообладателям.</blockquote>
